@import "tailwindcss";

@layer utilities {
  .snap-y {
    scroll-snap-type: y mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
